{{!------------------------------
Change foundation-icons to font awesome

To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Full list of social network
classes that you can use: visite http://fontawesome.io/icons/
--------------------------------}}

<nav class="navigation right">
  <ul class="social expanded">

  <!-- Weibo -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="http://weibo.com/u/3271063947" title="limeng的微博">
      <i class='fa fa-weibo fa-lg'></i>
      <span class="label">微博</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://twitter.com/itslimeng" title="limeng on Twitter">
      <i class='fa fa-twitter fa-lg'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Github -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://www.youtube.com/channel/UCwkt38vsxv8rTL8Ibwk2kxw" title="limeng on YouTube">
      <i class='fa fa-youtube fa-lg'></i>
      <span class="label">YouTube</span>
    </a>
  </li>

  <!-- Github -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" target="blank" href="https://github.com/limmeng" title="limeng on Github">
      <i class='fa fa-github fa-lg'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Mail -->
  <li class="social item hvr-grow-rotate">
    <a rel="me" href="mailto:itslimeng@gmail.com" target="_top" title="Send Email">
      <i class='fa fa-envelope fa-lg'></i>
      <span class="label">Mail</span>
    </a>
  </li>

  <!-- RSS -->
  <li class="social item hvr-grow-rotate">
    <a href="/rss/" title="Subscribe to RSS">
      <i class='fa fa-rss fa-lg'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  </ul>
</nav>
